@font-face {
    font-family: 'RobotoBold';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// Variable
$font_Bold: 'RobotoBold';
$font_Medium: 'RobotoMedium';
$font_Regular: 'RobotoRegular';


// CSS
body,
html {
    font-family: $font_Regular;
}

section {
    padding: 2rem 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.pad0 {
    padding: 0;
}

.no-pad-left {
    padding-left: 0;
}

.no-pad-right {
    padding-right: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.break {
    display: block;
}

.mt-1rem {
    margin-top: 1rem;
}

@mixin title($font-family, $text-transform, $font-size, $text-align, $color) {
    font-family: $font-family;
    text-transform: $text-transform;
    font-size: $font-size;
    text-align: $text-align;
    color: $color;
}

@mixin hr($size, $color, $width) {
    border-top: $size solid $color;
    background-color: $color;
    width: $width;
}

@mixin background($url, $rp, $size, $pos) {
    background: $url;
    background-repeat: $rp;
    background-size: $size;
    background-position: $pos;
}

@mixin border-radius($deg) {
    border-radius: $deg;
    -webkit-border-radius: $deg;
    -moz-border-radius: $deg;
    -ms-border-radius: $deg;
    -o-border-radius: $deg;
}



.btn_top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 90;
    cursor: pointer;
}

.navbar-light {
    background-color: rgba(0, 0, 0, 0.7);

    .navbar-brand {
        width: 10%;

        figure {
            margin-bottom: 0;
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #fff;
                    margin: 0 .5rem;
                    padding: .5rem 0;

                    &.active {
                        color: #ff8400;
                    }

                    p {
                        margin-bottom: 0;
                        font-size: .9rem;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);
        margin-right: 10px;
    }
}

#header {
    @include background(url('../assets/images/bg_header.jpg'), no-repeat, cover, center);
    padding-top: 60px;
    height: 100vh;

    p {
        color: #fff;

        &.try_buy {
            font-family: $font_Bold;
            text-transform: uppercase;
            font-size: 2rem;
        }

        &.free_trial {
            margin-bottom: 2rem;
        }
    }

    .free_trial_btn {
        color: #fff;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: .7rem 1.2rem;
        width: intrinsic;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
    }

    .form_header {
        background: #fff;
        padding: 1rem;
        width: 350px;

        p {
            color: #232323;
            text-align: center;

            &:first-of-type {
                text-transform: uppercase;
                font-family: $font_Bold;
                font-size: 1.2rem;
            }
        }
    }
}

#gioithieu {
    @include background(url('../assets/images/bg_gioithieu.jpg'), no-repeat, cover, center);
    padding: 2rem 0;

    p {
        color: #000000;

        &:first-of-type {
            font-family: $font_Bold;
            font-size: 1.2rem;
        }
    }
}

#giaiphap {
    background: #fff;
    padding: 0;

    .nav-tabs {
        width: 100%;
        border: 1px solid #dee2e6;
        margin-bottom: 2rem;

        li {
            width: 50%;

            &.nav-item {
                margin-bottom: 0;
            }

            .nav-link {
                border: none;
                color: #000000;
                @include border-radius(0px);
                text-align: center;
                font-size: 1.5rem;

                &.active {
                    color: #fff;
                    background-color: #000000;
                }
            }

        }
    }

    p {
        text-align: center;
        margin-bottom: 2rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-size: cover;
        width: 50px;
        height: 50px;

        &::after {
            content: none;
        }
    }

    .swiper-button-next {
        background: url("../assets/images/arrorw_right.png");
        right: 0;
    }

    .swiper-button-prev {
        background: url("../assets/images/arrorw_left.png");
        left: 0;
    }
}

#tinhnang {
    @include background(url('../assets/images/bg_tinhnang.jpg'), no-repeat, cover, center);
    padding: 2rem 0;

    .tinhnang {
        p {
            color: #fff;

            &:first-of-type {
                font-family: $font_Bold;
                font-size: 1.2rem;
            }
        }
    }

}

#giaiphapdaotao {
    @include background(url('../assets/images/bg_giaiphap.jpg'), no-repeat, cover, left);
    padding: 0;

    .content {
        padding: 2rem 15px 2rem 0;

        p {
            color: #fff;

            &:first-of-type {
                font-family: $font_Bold;
                font-size: 1.5rem;
            }
        }

        .btn_timhieuthem {
            width: intrinsic;
            width: -moz-max-content;
            width: -webkit-max-content;
            width: max-content;
            margin-top: 2rem;

            a {
                color: #fff;
                border: 1px solid #fff;
                @include border-radius(5px);
                padding: .7rem 1.2rem;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

#giaithuong {
    padding: 0;

    figure {
        margin-bottom: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 20px;
        height: 33px;

        &::after {
            content: none;
        }
    }

    .swiper-button-next {
        background: url("../assets/images/reward_right.png");
    }

    .swiper-button-prev {
        background: url("../assets/images/reward_left.png");
    }

    .swiper-pagination-bullet-active {
        background: #4d4d4d;
    }

    .reward {
        display: none;

        p {
            &:first-of-type {
                font-family: $font_Bold;
                font-size: 1.2rem;
            }
        }

        &.active {
            display: block;
        }
    }
}

#video {
    padding: 0;

    iframe {
        height: 500px;
    }

    .swiper-pagination-bullet {
        background: transparent;
        border: 1px solid #fff;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-size: cover !important;
        background-repeat: no-repeat !important;
        width: 63px;
        height: 63px;

        &::after {
            content: none;
        }
    }

    .swiper-button-next {
        background: url("../assets/images/video_right.png");
        right: 20%;
    }

    .swiper-button-prev {
        background: url("../assets/images/video_left.png");
        left: 20%;
    }
}

footer {
    padding: 2rem 0;
    background: #1a1819;
}

#thanks {
    @include background(url("../assets/images/header.png"), no-repeat, cover, center);
    padding: 28% 0;

    p {

        color: #facf5c;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.3rem;
    }
}

.field_input {
    background-color: #fff;
    @include border-radius(0px);
    border: 1px solid #aaaaaa;
    padding: 10px;
    margin-bottom: 1rem;
    color: #aaaaaa;
    width: 100%;
    text-align: left;
}

.field_register {
    margin-bottom: 0rem;
    background-color: #ff8400;
    color: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0;
    text-align: center;
    @include border-radius(0px);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaaaaa;

}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaaaaa;

}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaaaaa;

}

:-moz-placeholder {
    /* Firefox 18- */
    color: #aaaaaa;

}

@media(min-width:1900px) {}

@media(min-width:1350px) and (max-width:1400px) {
    #apartment {
        .swiper-container {
            .swiper-slide {
                .apartment_details {
                    p {
                        &.apartment_name {
                            font-size: 1.05rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .navbar-light {
        // .navbar-toggler-icon{
        //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        // }
        padding: .5rem 0;

        .navbar-brand {
            width: 20%;
            margin-top: 0;
        }
    }

    .title {
        font-size: 2rem;
    }

    #header {
        margin-top: 65px;

        .swiper-container {
            .swiper-pagination {
                bottom: 6%;
                left: 4%;
            }
        }
    }

    #about {
        padding: 2rem 0;

        iframe {
            height: 315px;
        }
    }

    #product-infor {
        .introduce {
            font-size: 1.1rem;
        }

        .film-row {
            display: block;

            .film-col-left {
                width: 100%;

                .film-types {
                    div {
                        button {
                            font-size: .9rem;
                        }
                    }
                }

                figure {
                    display: block;
                }
            }

            .film-col-right {
                width: 100%;
                display: block;
                padding: 1rem 0;
            }
        }
    }

    #uudiem {
        padding-top: 2rem;

        .uudiem_slider_outside {
            .swiper-container {
                .swiper-slide {
                    figure {

                        .normal,
                        .active {
                            display: none;
                        }
                    }

                    &.swiper-slide-active {
                        background-color: #3295e2;

                        figure {
                            .normal {
                                display: block;
                            }
                        }

                        p {

                            &.uudiem1,
                            &.uudiem1_des {
                                display: block;
                                color: #fff;
                            }
                        }
                    }
                }
            }

            .uudiem-button-prev {
                left: 0;
                top: 30%;
            }

            .uudiem-button-next {
                right: 0;
                top: 30%;
            }
        }
    }

    #chungchi {
        .outside1 {
            padding: 5px;

            .outside2 {
                padding: 5px;

                .chungchi_slider_outside {
                    .swiper-container {
                        .swiper-slide {
                            figure {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    #daily {
        .col-left {
            div {
                p {
                    &.title {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    #feedback {
        .swiper-container {
            padding: 6rem 2rem 2rem;

            .swiper-slide {
                padding: 0 1rem;

                figure {
                    &:first-child {
                        margin-top: -30%;
                    }
                }
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }
        }
    }

    #lienhe {
        p {
            &.tencty {
                font-size: 1.2rem;
            }
        }
    }

    footer {
        .break {
            display: inline;
        }
    }

    #thanks {
        p {
            font-size: 1.2rem;
        }
    }
}

@media (max-width:380px) {
    #product-infor {
        .film-row {
            .film-col-left {
                .film-types {
                    div {
                        button {
                            font-size: .84rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 600px;
    }
}

.modal-header {
    border-bottom: 0;
}

.modal-body {
    text-align: center;
    font-size: 1.2rem;
}